/* mobile animations */

@keyframes mobile {
    0% {opacity: 0.5;}
    50% {opacity: 1; transform:scale(1.3);}
    100% {opacity: 0.5;}
}

.section1__mobile {
    animation-name: mobile;
    animation-duration: 5s;
    animation-timing-function: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/* Desktop animations */

@keyframes logo {
    50% {transform: rotateY(180deg);}
    100% {transform: scale(1.3);}
}

.section1__img:hover {
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: both;
    animation-fill-mode: both;
}

@keyframes button {
    100% {transform: rotate(20deg);
    transform-origin: top left;}
}

.section2__button:hover{
    animation-name: button;
    animation-duration: 1s;
    animation-timing-function: both;
    animation-fill-mode: both;
}

@keyframes video {
    100% {    background-color: #FFFFFF;
            color:#39C2D7;}
}

.section3__button:hover {
    animation-name: video;
    animation-duration: 1s;
    animation-timing-function: both;
    animation-fill-mode: both;
}

.union {
    position: absolute;
    width: 1044px;
    height: 930px;
    opacity: 0.5;
}

@keyframes union {
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.union {
    animation-name: union;
    animation-duration: 5s;
    animation-timing-function: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}