@media only screen and (max-width: 768px) {
    
    body {
        position: relative;
        width: 480px;
        height: 2715px;
    
        background: #FFFFFF;
    }   
    
    .section1 {
        position: absolute;
        width: 480px;
        height: 816px;
    
        background-image: url(../assets/mobile1.png);
        background-size: cover;

        &__menu {
            display: hidden;
        }

        &__line1 {
            display: hidden;
        }

        &__mline1 {
            position: absolute;
            width: 22px;
            height: 0px;
            left: 400px;
            top: 43px;
    
            border: 2px solid #FFFFFF;
        }

        &__mline2 {
            position: absolute;
            width: 22px;
            height: 0px;
            left: 400px;
            top: 49.62px;
    
            border: 2px solid #FFFFFF;
        }

        &__mline3 {
            position: absolute;
            width: 22px;
            height: 0px;
            left: 400px;
            top: 56.24px;
    
            border: 2px solid #FFFFFF;
        }

        &__header {
            position: absolute;
            width: 91px;
            height: 13.24px;
            left: 27px;
            top: 41px;
        
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 16px;
            /* or 80% */
        
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: none;  
        
            color: #FFFFFF;
        }

        &__img {
            position: absolute;
            width: 63.05px;
            height: 62.54px;
            left: 206.54px;
            top: 257.99px;
        }

        &__title {
            position: absolute;
            width: 386.29px;
            height: 117.14px;
            left: 47.42px;
            top: 339.39px;
        
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            /* or 133% */
        
            text-align: center;
        
            color: #FFFFFF;
        }

        &__subtitle {
            position: absolute;
            width: 426.32px;
            height: 55.59px;
            left: 27.4px;
            top: 498.22px;
        
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */
        
            text-align: center;
        
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .section2 {
        position: absolute;
        width: 480px;
        height: 990px;
        left: 0px;
        top: 800px;

        background: #EEEEEE;

        &__h2 {
            position: absolute;
            width: 355px;
            height: 261px;
            left: 63px;
            top: 65px;
    
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            /* or 133% */
    
            text-align: center;
    
            color: #464547;
        }

        &__h3 {
            position: absolute;
            width: 453px;
            height: 81px;
            left: 27px;
            top: 367px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */
    
            text-align: center;
    
            color: #666666;
        }

        &__p1 {
            position: absolute;
            width: 445px;
            height: 183px;
            left: 27px;
            top: 476px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* or 138% */
    
    
            color: #666666;
            text-align: left;
        }

        &__p2 {
            position: absolute;
            width: 430px;
            height: 129px;
            left: 27px;
            top: 710px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* or 138% */
    
            color: #666666;
        }

        &__button {
            position: absolute;
            width: 115px;
            height: 38px;
            left: 183px;
            top: 900px;
    
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            /* or 186% */
    
            text-align: center;
            letter-spacing: 0.1em;
    
            color: #FFFFFF;
            background: #55C2D8;
            border-radius: 18px;
        }
    }

    .section3 {
        position: absolute;
        width: 487.77px;
        height: 637px;
        left: -5px;
        top: 1789px;

        background-image: url(../assets/mobile2.png);
        background-size: cover;

        &__h2 {
            position: absolute;
            width: 487.77px;
            height: 117px;
            left: 9.23px;
            top: 72px;
    
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            /* or 133% */
    
            text-align: center;
    
            color: #FFFFFF;
        }

        &__button {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 193px;
            top: 280px;
            color: #FFFFFF;
            background: #39C2D7;
            border-radius: 50%;
        }

        &__h3 {
            position: absolute;
            width: 396.32px;
            height: 102px;
            left: 44.79px;
            top: 462px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */
    
            text-align: center;
    
            color: #FFFFFF;
        }
    }

    .grid {
        position: absolute;
        width: 493px;
        height: 292px;
        left: -5px;
        top: 2426px;

        background: #464547;

        &__logo {
            position: absolute;
            width: 20px;
            height: 20px;
            left: -35px;
        }

        &__area1 {
            position: absolute;
            width: 92px;
            height: 16px;
            left: 199px;
            top: 58px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
            /* identical to box height, or 89% */
    
            letter-spacing: 0.2em;
            text-transform: uppercase;
    
            color: #FFFFFF;
        }

        &__area2 {
            position: absolute;
            width: 174px;
            height: 33px;
            left: 148px;
            top: 105px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* or 119% */
    
            text-align: center;
    
            color: rgba(255, 255, 255, 0.4);
        }

        &__area3 {
            position: absolute;
            width: 142px;
            height: 22px;
            left: 171px;
            top: 156px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* or 119% */
    
            color: rgba(255, 255, 255, 0.4);
        }

        &__area4 {
            position: absolute;
            width: 243px;
            height: 20px;
            left: 120px;
            top: 187px;
    
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* or 119% */
    
            text-align: center;
    
            color: rgba(255, 255, 255, 0.4);
        }
    }
}