/* BEM sample https://www.youtube.com/watch?v=er1JEDuPbZQ */

@use "mobile";
@use "animations";
@use "variables";


@media only screen and (min-width:769px) {
    body {
        position: relative;
        width: 1200px;
        height: 2336px;
    
        background: #FFFFFF;
    }
    
    .section1 {
        position: absolute;
        width: 1315px;
        height: 822px;
        left: -115px;
        top: 0px;
    
        background-image: url(../assets/background1.png);
        background-size: cover;
    
        &__mobile{
            display: none;
        }
    
        &__header {
            position: absolute;
            width: 91px;
            height: 16px;
            left: 267px;
            top: 45px;
        
            font-family: $font1;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 16px;
            /* identical to box height, or 80% */
        
            letter-spacing: 0.1em;
            text-transform: uppercase;
        
            color: #FFFFFF;
            text-decoration: none;        
        }
    
        &__menu {
            position: absolute;
            width: 395px;
            height: 22px;
            left: 523px;
            top: 49px;
        
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        
        
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            /* identical to box height, or 114% */
        
            letter-spacing: 0.2em;
            text-transform: uppercase;
        
            color: #FFFFFF;
            text-decoration: none;   
    
        &__projects{
            flex: 1 1 81px;
            text-decoration: none;   
        }
        
        &__about {
            flex: 1 1 81px;
        }
        
        &__stories {
            flex: 1 1 67px;
        }
        
        &__contact {
            flex: 1 1 73px;
        }
        }
    
        &__img {
            position: absolute;
            width: 63px;
            height: 63px;
            left: 685px;
            top: 274px;
        }
    
        &__title {
            position: absolute;
            width: 386px;
            height: 118px;
            left: 523px;
            top: 350px;
            
            font-family: $font2;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            /* or 133% */
            
            text-align: center;
            
            color: $white;
        }
    
        &__subtitle {
    
            position: absolute;
            width: 426px;
            height: 56px;
            left: 503px;
            top: 510px;
            
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */
            
            text-align: center;
            
            color: rgba($background-color-gray);
    
        }
    }
    
    .section2 {
        position: absolute;
        width: 1200px;
        height: 700px;
        left: -1px;
        top: 800px;
    
        background: #EEEEEE;
    
        &__h2 {
            position: absolute;
            width: 669px;
            height: 119px;
            left: 264px;
            top: 88px;
        
            font-family: $font2;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            /* or 133% */
        
            text-align: center;
        
            color: #464547;
        }
    
        &__h3 {
            position: absolute;
            width: 426px;
            height: 57px;
            left: 386px;
            top: 246px;
        
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */
        
            text-align: center;
        
            color: #666666;
        }
    
        &__text {
            display: flex;
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* or 138% */
        
            color: #666666;
        }
    
        &__p1 {
            position: absolute;
            width: 408px;
            height: 172px;
            left: 149px;
            top: 348px;
        }
    
        &__p2 {
            position: absolute;
            width: 416px;
            height: 172px;
            left: 640px;
            top: 348px;
        }
    
        &__button {
            position: absolute;
            width: 115px;
            height: 36px;
            left: 541px;
            top: 566px;
        
            background: #55C2D8;
            border-radius: 18px;
        
            font-family: $font2;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            /* or 186% */
        
            text-align: center;
            letter-spacing: 0.1em;
        
            color: #FFFFFF;
        }
    }
    
    .section3 {
        position: absolute;
        width: 1200px;
        height: 637px;
        left: -1px;
        top: 1500px;
    
        background: rgba(140, 79, 42, 0.3);
        background-image: url(../assets/background2.png);
        background-size: cover;
    
        &__h2 {
            position: absolute;
            width: 432px;
            height: 111.91px;
            left: 389px;
            top: 80px;
        
            font-family: $font2;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            /* or 133% */
        
            text-align: center;
        
            color: #FFFFFF;
        }
    
        &__button {
            position: absolute;
            width: 145px;
            height: 143.47px;
            left: 533px;
            top: 255px;
            color: #FFFFFF;
            background: #39C2D7;
            border-radius: 50%;
        }
    
        &__h3 {
            position: absolute;
            width: 400px;
            height: 97.56px;
            left: 420.5px;
            top: 453.02px;
        
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */
        
            text-align: center;
        
            color: #FFFFFF;
        }
    }
    
    footer {
        position: absolute;
        width: 1200px;
        height: 199px;
        left: 0px;
        top: 2137px;
    
        background: #464547;
    }
    
    .grid {
        height: 199px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
    
        &__area1 {
            grid-area: 1 / 1 / 1 / 1;
        }
    
        &__logo {
            position: absolute;
            width: 20px;
            height: 20px;
            left: -30px;
            top: 0px;
        }
    
        &__area1 {
            position: absolute;
            width: 92px;
            height: 16px;
            left: 189px;
            top: 39px;
            
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
            /* identical to box height, or 89% */
            
            letter-spacing: 0.2em;
            text-transform: uppercase;
            
            color: #FFFFFF;
        }
    
        &__area2 {
            grid-area: 3 / 1 / 4 / 2;
            position: absolute;
            width: 174px;
            height: 33px;
            left: 362px;
            top: 39px;
        
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* or 119% */
        
            color: rgba(255, 255, 255, 0.4);
        }
    
        &__area3 {
            grid-area: 3 / 2 / 4 / 3;
            position: absolute;
            width: 142px;
            height: 22px;
            left: 362px;
            top: 99px;
        
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* or 119% */
        
            color: rgba(255, 255, 255, 0.4);
        } 
    
        &__area4 {
            grid-area: 6 / 2 / span 2 / span 1;
    
            position: absolute;
            width: 230px;
            height: 22px;
            left: 822px;
            top: 103px;
        
            font-family: $font1;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* or 119% */
        
            color: rgba(255, 255, 255, 0.4);
        }
    }
}