@media only screen and (max-width: 768px) {
  body {
    position: relative;
    width: 480px;
    height: 2715px;
    background: #FFFFFF;
  }
  .section1 {
    position: absolute;
    width: 480px;
    height: 816px;
    background-image: url(../assets/mobile1.png);
    background-size: cover;
  }
  .section1__menu {
    display: hidden;
  }
  .section1__line1 {
    display: hidden;
  }
  .section1__mline1 {
    position: absolute;
    width: 22px;
    height: 0px;
    left: 400px;
    top: 43px;
    border: 2px solid #FFFFFF;
  }
  .section1__mline2 {
    position: absolute;
    width: 22px;
    height: 0px;
    left: 400px;
    top: 49.62px;
    border: 2px solid #FFFFFF;
  }
  .section1__mline3 {
    position: absolute;
    width: 22px;
    height: 0px;
    left: 400px;
    top: 56.24px;
    border: 2px solid #FFFFFF;
  }
  .section1__header {
    position: absolute;
    width: 91px;
    height: 13.24px;
    left: 27px;
    top: 41px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* or 80% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
  }
  .section1__img {
    position: absolute;
    width: 63.05px;
    height: 62.54px;
    left: 206.54px;
    top: 257.99px;
  }
  .section1__title {
    position: absolute;
    width: 386.29px;
    height: 117.14px;
    left: 47.42px;
    top: 339.39px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
  }
  .section1__subtitle {
    position: absolute;
    width: 426.32px;
    height: 55.59px;
    left: 27.4px;
    top: 498.22px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  .section2 {
    position: absolute;
    width: 480px;
    height: 990px;
    left: 0px;
    top: 800px;
    background: #EEEEEE;
  }
  .section2__h2 {
    position: absolute;
    width: 355px;
    height: 261px;
    left: 63px;
    top: 65px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #464547;
  }
  .section2__h3 {
    position: absolute;
    width: 453px;
    height: 81px;
    left: 27px;
    top: 367px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #666666;
  }
  .section2__p1 {
    position: absolute;
    width: 445px;
    height: 183px;
    left: 27px;
    top: 476px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    color: #666666;
    text-align: left;
  }
  .section2__p2 {
    position: absolute;
    width: 430px;
    height: 129px;
    left: 27px;
    top: 710px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    color: #666666;
  }
  .section2__button {
    position: absolute;
    width: 115px;
    height: 38px;
    left: 183px;
    top: 900px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #55C2D8;
    border-radius: 18px;
  }
  .section3 {
    position: absolute;
    width: 487.77px;
    height: 637px;
    left: -5px;
    top: 1789px;
    background-image: url(../assets/mobile2.png);
    background-size: cover;
  }
  .section3__h2 {
    position: absolute;
    width: 487.77px;
    height: 117px;
    left: 9.23px;
    top: 72px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
  }
  .section3__button {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 193px;
    top: 280px;
    color: #FFFFFF;
    background: #39C2D7;
    border-radius: 50%;
  }
  .section3__h3 {
    position: absolute;
    width: 396.32px;
    height: 102px;
    left: 44.79px;
    top: 462px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
  }
  .grid {
    position: absolute;
    width: 493px;
    height: 292px;
    left: -5px;
    top: 2426px;
    background: #464547;
  }
  .grid__logo {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -35px;
  }
  .grid__area1 {
    position: absolute;
    width: 92px;
    height: 16px;
    left: 199px;
    top: 58px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .grid__area2 {
    position: absolute;
    width: 174px;
    height: 33px;
    left: 148px;
    top: 105px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
  }
  .grid__area3 {
    position: absolute;
    width: 142px;
    height: 22px;
    left: 171px;
    top: 156px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    color: rgba(255, 255, 255, 0.4);
  }
  .grid__area4 {
    position: absolute;
    width: 243px;
    height: 20px;
    left: 120px;
    top: 187px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
  }
}
/* mobile animations */
@keyframes mobile {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 0.5;
  }
}
.section1__mobile {
  animation-name: mobile;
  animation-duration: 5s;
  animation-timing-function: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* Desktop animations */
@keyframes logo {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: scale(1.3);
  }
}
.section1__img:hover {
  animation-name: logo;
  animation-duration: 1s;
  animation-timing-function: both;
  animation-fill-mode: both;
}

@keyframes button {
  100% {
    transform: rotate(20deg);
    transform-origin: top left;
  }
}
.section2__button:hover {
  animation-name: button;
  animation-duration: 1s;
  animation-timing-function: both;
  animation-fill-mode: both;
}

@keyframes video {
  100% {
    background-color: #FFFFFF;
    color: #39C2D7;
  }
}
.section3__button:hover {
  animation-name: video;
  animation-duration: 1s;
  animation-timing-function: both;
  animation-fill-mode: both;
}

.union {
  position: absolute;
  width: 1044px;
  height: 930px;
  opacity: 0.5;
}

@keyframes union {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.union {
  animation-name: union;
  animation-duration: 5s;
  animation-timing-function: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* BEM sample https://www.youtube.com/watch?v=er1JEDuPbZQ */
@media only screen and (min-width: 769px) {
  body {
    position: relative;
    width: 1200px;
    height: 2336px;
    background: #FFFFFF;
  }
  .section1 {
    position: absolute;
    width: 1315px;
    height: 822px;
    left: -115px;
    top: 0px;
    background-image: url(../assets/background1.png);
    background-size: cover;
  }
  .section1__mobile {
    display: none;
  }
  .section1__header {
    position: absolute;
    width: 91px;
    height: 16px;
    left: 267px;
    top: 45px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
  }
  .section1__menu {
    position: absolute;
    width: 395px;
    height: 22px;
    left: 523px;
    top: 49px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
  }
  .section1__menu__projects {
    flex: 1 1 81px;
    text-decoration: none;
  }
  .section1__menu__about {
    flex: 1 1 81px;
  }
  .section1__menu__stories {
    flex: 1 1 67px;
  }
  .section1__menu__contact {
    flex: 1 1 73px;
  }
  .section1__img {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 685px;
    top: 274px;
  }
  .section1__title {
    position: absolute;
    width: 386px;
    height: 118px;
    left: 523px;
    top: 350px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
  }
  .section1__subtitle {
    position: absolute;
    width: 426px;
    height: 56px;
    left: 503px;
    top: 510px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  .section2 {
    position: absolute;
    width: 1200px;
    height: 700px;
    left: -1px;
    top: 800px;
    background: #EEEEEE;
  }
  .section2__h2 {
    position: absolute;
    width: 669px;
    height: 119px;
    left: 264px;
    top: 88px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #464547;
  }
  .section2__h3 {
    position: absolute;
    width: 426px;
    height: 57px;
    left: 386px;
    top: 246px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #666666;
  }
  .section2__text {
    display: flex;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    color: #666666;
  }
  .section2__p1 {
    position: absolute;
    width: 408px;
    height: 172px;
    left: 149px;
    top: 348px;
  }
  .section2__p2 {
    position: absolute;
    width: 416px;
    height: 172px;
    left: 640px;
    top: 348px;
  }
  .section2__button {
    position: absolute;
    width: 115px;
    height: 36px;
    left: 541px;
    top: 566px;
    background: #55C2D8;
    border-radius: 18px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
  .section3 {
    position: absolute;
    width: 1200px;
    height: 637px;
    left: -1px;
    top: 1500px;
    background: rgba(140, 79, 42, 0.3);
    background-image: url(../assets/background2.png);
    background-size: cover;
  }
  .section3__h2 {
    position: absolute;
    width: 432px;
    height: 111.91px;
    left: 389px;
    top: 80px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
  }
  .section3__button {
    position: absolute;
    width: 145px;
    height: 143.47px;
    left: 533px;
    top: 255px;
    color: #FFFFFF;
    background: #39C2D7;
    border-radius: 50%;
  }
  .section3__h3 {
    position: absolute;
    width: 400px;
    height: 97.56px;
    left: 420.5px;
    top: 453.02px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
  }
  footer {
    position: absolute;
    width: 1200px;
    height: 199px;
    left: 0px;
    top: 2137px;
    background: #464547;
  }
  .grid {
    height: 199px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .grid__area1 {
    grid-area: 1/1/1/1;
  }
  .grid__logo {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 0px;
  }
  .grid__area1 {
    position: absolute;
    width: 92px;
    height: 16px;
    left: 189px;
    top: 39px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .grid__area2 {
    grid-area: 3/1/4/2;
    position: absolute;
    width: 174px;
    height: 33px;
    left: 362px;
    top: 39px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    color: rgba(255, 255, 255, 0.4);
  }
  .grid__area3 {
    grid-area: 3/2/4/3;
    position: absolute;
    width: 142px;
    height: 22px;
    left: 362px;
    top: 99px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    color: rgba(255, 255, 255, 0.4);
  }
  .grid__area4 {
    grid-area: 6/2/span 2/span 1;
    position: absolute;
    width: 230px;
    height: 22px;
    left: 822px;
    top: 103px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    color: rgba(255, 255, 255, 0.4);
  }
}/*# sourceMappingURL=styles.css.map */